@import 'variables';
@import 'mixins';



/* Min Width
*****************************************************************************************************/

/* 480px (Min Width)
=================================================================*/
@media (min-width: 480px) {


	/*========== 480px (Min Width) ==========*/
}





/* 768px (Min Width)
=================================================================*/
@media (min-width: 768px) {

	/*========== 768px (Min Width) ==========*/
}





/* 992px (Min Width)
=================================================================*/
@media (min-width: 992px) {


	/*========== 992px (Min Width) ==========*/
}





/* 1200px (Min Width)
=================================================================*/
@media (min-width: 1200px) {


	/*========== 1200px (Min Width) ==========*/
}





/* 1590px (Min Width)
=================================================================*/
@media (min-width: 1590px) {


	/*========== 1590px (Min Width) ==========*/
}















/* Max Width
*****************************************************************************************************/

/* 1589px (Max Width)
=================================================================*/
@media (max-width: 1589px) {


	/*========== 1589px (Max Width) ==========*/
}





/* 1199px (Max Width)
=================================================================*/
@media (max-width: 1199px) {
  .hdr-rht-side {
    padding-top: 20px;
    margin-bottom: 20px;
  }
	/*========== 1199px (Max Width) ==========*/
}





/* 991px (Max Width)
=================================================================*/
@media (max-width: 991px) {

  .gallery-album-full-slider {
    margin-bottom: 15px;
    img {
      width: 100%;
      height: 500px;
    }
  }

  .gallery-album-min-slider  {
    margin-left: -5px;
    margin-right: -5px;
    img {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .gallery-album-min-slider {
    img {
      max-height: 110px;
      min-height: 110px;
    }
  }

  .news-inside-sidebar {
    display: none;
  }

  .w-lng-arrow {
    display: block;
    margin-bottom: 25px;
    margin-right: 0;
    &::after {
      display: none;
    }
  }
  //no-deleted
  .mb-lg-15 {
    margin-bottom: 15px;
  }
  //no-deleted

  .slide-arrows2 {
    top: auto;
    bottom: -60px;
  }

  .prev2 {
    left: 15px;
  }

  .next2 {
    right: 15px;
  }

	/*========== 991px (Max Width) ==========*/
}





/* 767px (Max Width)
=================================================================*/
@media (max-width: 767px) {

  header {
    div[class^="col-sm"] {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .footer-comp-inf-sect {
    margin: 0 auto;
  }

  .footer-comp-inf {
    order: 0;
  }

  .footer-nav-wrap {
    order: 1;
  }

  .heading {
    text-align: center;
  }

  .gallery-album-full-slider {
    img {
      height: 350px;
    }
  }
  .gallery-box img {
    height: auto;
    max-height: 320px;
  }

  .about-us-box-wrap {
    [class^="col"] {
      padding-left: 15px;
      padding-right: 15px;
    }
  }


  .about-us-box-des {
    padding-left: 0;
    padding-right: 0;
  }

  .about-us-box-wrap-img img {
    height: auto;
    max-height: 320px;

  }

  .main-about-img-wrap img {
    height: auto;
    max-height: 320px;
  }

  .main-spec-wrap {
    margin-bottom: 50px;
  }

  .regular-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .paym-sys-wrap {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .navbar-collapse {
    text-align: center;
  }

  .text-md-center {
    text-align: center;
  }

  .navbar-expand-md {
    width: 100%;
    margin-top: 20px;
    min-height: 78px;
  }

  .navbar-nav li::after {
    display: none;
  }

  .subs-btn {
    position: static;
  }

  .main-contact-sec {
    flex-direction: column;
    .f-40 {
      input {
        border-radius: 0;
      }
    }
    .f-60 {
      padding-left: 0;
      input {
        border-radius: 0;
      }
    }
  }

  .mb-md-15 {
    margin-bottom: 15px;
  }
	/*========== 767px (Max Width) ==========*/
}

/* 767px (Max Width)
=================================================================*/
@media screen and (max-width: 575px) {

  .faq-ques-txt {
    padding: 50px 0;
  }

  .contact-data {
    font-size: 16px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }
  .gallery-album-full-slider {
    img {
      height: 280px;
    }
  }

  .all-news-btn {
    margin: 20px auto 0;
  }

  .mb-xs-15 {
    margin-bottom: 15px;
  }


}



/* 479px (Max Width)
=================================================================*/
@media (max-width: 479px) {
  .navbar-expand-sm {
    min-height: 50px;
  }

  .bdr-radius {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
  }

  //no-deleted
  .bl-xs-center {
    margin-left: auto;
    margin-right: auto;
  }
  //no-deleted

	/*========== 479px (Max Width) ==========*/
}



