//@import "fonts";
@import "base";
@import "variables";
@import "operations";
@import "mixins";

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: $col-txt;
  font-weight: 400;
  background: #fff;
  @extend .f-ubuntu;
}

//-----------header-----------
.cent-top {
  display: flex;
  align-items: center;
}

header {
  min-height: 115px;
  background: #fff;
  @extend .cent-top;
}

.logo-lnk {
  display: block;
}

.bdr-radius {
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  &:hover {
    box-shadow: 0 0 5px rgba(0,0,0,.5);
  }
}

.pink-btn {
  border: 1px solid $pink-col;
  color: $pink-col;
}

.navbar-toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.navbar-toggler-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}



.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-nav {
  li.active, li:hover {
    a {
      color: $link-col;
    }
  }
  a {
    color: #7b7b7b;
    @extend .transition;
  }
  li {
    position: relative;
    &:last-child {
      &::after {
        display: none;
      }
    }
    &::after {
      content: "\007c";
      top: 8px;
      right: 0;
      color: #dadada;
      position: absolute;
    }
  }
}
.uppercase {
  text-transform: uppercase;
}
.head-lang {
  @extend .uppercase;
  li {
    padding-left: 8px;
    padding-right: 8px;
  }
  li.active, li:hover {
    color: $link-col;
  }
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

//-----------header-----------

//-----------main slider-----------
.main-slider-wrap {
  .slick-slide {
    overflow: hidden;
  }

  .slick-dots {
    bottom: 30px;
    @extend .fx-c;
    li {
      width: 15px;
      height: 15px;
      border: 1px solid #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      &.slick-active {
        width: 20px;
        height: 20px;
        background: $link-col;
        border: 0;
      }
    }
    button {
      &::before {
        display: none;
      }
    }
  }
}

.main-slider-elem {
  height: 700px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.slide-arrows {
  width: 90px;
  height: 50px;
  position: absolute;
  z-index: 1;
  top: 40%;
}

.prev1 {
  background-image: url('../images/arrow-left.png');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  left: 50px;
}

.next1 {
  background-image: url('../images/arrow-right.png');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  right: 50px;
}

.main-slider-desc-wrap {
  background: $link-col;
  height: 200px;
  margin-top: 50px;
  color: #fff;
  padding: 25px 50px;
  overflow: hidden;
  margin-bottom: 150px;
  p + p {
    margin-top: 18px;
  }
}

.f-24 {
  font-size: 24px;
}

.f-48 {
  font-size: 48px;
}

.f-bold {
  font-weight: 700;
}

.txt-arrow {
  position: relative;
  padding-left: 50px;
  &::before {
    content: "";
    width: 40px;
    height: 1px;
    background-color: #80dbfa;
    position: absolute;
    top: 50%;
    left: 0;
  }
}

.main-select-flying {
  height: 200px;
  background: rgba(8, 47, 65, .9)
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

//----------main slider------------

//-----------start main about us-----------

.main-about-txt-desc-wrap {
  background: url('../images/main-ab-bg.png') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  max-height: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wh-col {
  color: #fff;
}

.full-pink-btn {
  background: $pink-col;
  width: 145px;
  @extend .fx-c;
}

.main-about-txt-desc {
  max-width: 770px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  a.full-pink-btn {
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    }
  }
  h2 {
    margin-bottom: 40px;
  }
  p {
    margin-bottom: 45px;
    line-height: 30px;
    max-height: 360px;
    overflow: hidden;
  }
}

.main-about-img-wrap {
  img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
}

//-----------end main about us-----------

//-----------start special offers block-----------

.main-spec-wrap {
  @extend .fx-c;
}

.heading {
  margin-bottom: 60px;
  h2 {
    color: #07485e;
  }
}

.spec-offers-elem {
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px;
  overflow: hidden;
  position: relative;
  &:hover {
    color: #fff;
  }
  &::before {
    content: "";
    background: $oth-link-col;
    width: 150px;
    height: 80px;
    top: -30px;
    right: -55px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.spec-offers-elem-trgle {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 500;
}

.spec-offers-elem-txt-desc {
  width: 50%;
  background: rgba($link-col, 0.65);
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  @extend .fx-c;
  h4 {
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  p {
    font-size: 20px;
  }
}

.slide-arrows2 {
  width: 70px;
  height: 30px;
  position: absolute;
  background-image: url("../images/slider-arrow.png");
  top: -70px;
  z-index: 1;
}

.prev2 {
  background-position: 0 0;
  right: 130px;
  &:hover {
    background-position: 70px 0;
  }

}

.next2 {
  background-position: 70px 30px;
  right: 15px;
  &:hover {
    background-position: 145px 30px;
  }
}

.regular-padding {
  padding-top: 115px;
  padding-bottom: 115px;
}

//-----------end special offers block-----------

//-----------start main contact wrap-----------

.main-contact-wrap {
  background: url("../images/main-contact-bg.png") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.main-contact-sec {
  display: flex;
  .f-60 {
    flex: 0 0 60%;
    padding-left: 2px;
  }
  .f-40 {
    flex: 0 0 40%;
    input {
      border-radius: 10px 0 0 10px;
    }
  }
  &-item {
    position: relative;
    &.w-but {
      input {
        border-radius: 0 30px 30px 0;
      }
    }
  }
  input {
    width: 100%;
    display: inline-block;
    height: 60px;
    background: #ffffff;
    border: 0;
    padding-left: 30px;
  }
}

.subs-btn {
  color: #fff;
  position: absolute;
  @extend .fx-c;
  top: 0;
  right: 0;
  height: 60px;
  @extend .transition;
  @include ButtonDark($oth-link-col);
  &:hover {
    color: #fff;
  }
}

.main-contact-sec-desc {
  h3 {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
}

.all-news-btn {
  width: 150px;
  padding: 0;
  height: 50px;
  @extend .fx-c;
  &:hover {
    color: $pink-col;
  }
}

//-----------end main contact wrap-----------

//-----------start main news wrap-----------

.news-box-desc {
  @include TextMask(130,16,false);
  h4 {
    margin-bottom: 15px;
    font-weight: 500;
    @extend .uppercase;
  }
}

a.link {
  color: $link-col;
}

.news-box-img {
  margin-bottom: 30px;
  img {
    width: 100%;
    height: 260px;
    object-fit: cover;
  }
}

.news-box-desc-date {
  font-size: 14px;
  color: #b3b3b3;
  margin-bottom: 10px;
}

.bordered {
  border-top: 1px solid #adadad;
}

//-----------end main news wrap-----------

//-----------start payment system wrap-----------

.paym-sys-wrap {
  .slick-track {
    display: flex;
    align-items: center;
  }
  a {
    display: block;
    padding: 15px;
    img {
      filter: grayscale(100%);
      opacity: .6;
      margin: 0 auto;
      @extend .transition;
    }
    &:hover {
      img {
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }

}

.regular-padding-2 {
  padding-top: 90px;
  padding-bottom: 90px;
}

//-----------end payment system wrap-----------

//-----------start footer-----------

.footer-page {
  background: #07485e;
  padding-top: 80px;
}

.link-col {
  color: $link-col;
}

ul.nav-site-rkh {
  a {
    color: #fff;
    @extend .transition;
    &:hover {
      color: $link-col;
    }
  }
}

.footer-nav-wrap {
  li {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  h4 {
    margin-bottom: 10px;
    @extend .uppercase
  }
}

.f-medium {
  font-weight: 500;
}

.footer-comp-inf {
  margin-top: -10px;
  margin-bottom: -10px;
  @at-root &-sect {
    max-width: 220px;
    text-align: center;
  }
  i {
    color: $oth-link-col;
  }
  div {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.sotsial-nav {
  display: flex;
  margin: -10px;
  a {
    opacity: 0.6;
    transition: all 0.15s;
    &:hover {
      opacity: 1;
    }
  }
  li {
    padding: 10px;
  }
}

.footer-sotsial-nav-wrap {
  h4 {
    margin-bottom: 20px;
    @extend .uppercase;
  }
}

.market-apps {
  display: flex;
  padding-top: 20px;
  margin: -8px;
  li {
    padding: 8px;
  }
}

.footer-down {
  font-size: 14px;
  border-top: 1px solid #396d7e;
  padding-top: 35px;
  padding-bottom: 35px;
  color: #41a1c1;
  a {
    text-decoration: underline;
    &:hover {
      color: #fff;
    }
  }
}

.footer-up {
  margin-bottom: 70px;
}

//-----------end footer-----------

//-----------start modal window style-----------

.modal-form-content {
  overflow: hidden;
  border-radius: 0;
  input, textarea {
    display: inline-block;
    width: 100%;
    border: 1px solid #e9eff3;
    padding-left: 20px;
  }
  input {
    height: 52px;
  }
  textarea {
    padding-top: 25px;
    height: 202px;
  }

  .modal-header {
    border-bottom: 0;
  }
  .modal-footer {
    border-top: 0;
  }
  h2 {
    font-weight: 400;
    color: #07485e;

  }

  button.close {
    opacity: 1;
    color: #fff;
    &:hover {
      &::before {
        background: darken(#73ca3e, 10%);
      }
      span {
        color: #fff;
      }
    }
    span {
      position: relative;
    }
    &::before {
      content: "";
      background: #73ca3e;
      width: 150px;
      height: 80px;
      top: -30px;
      right: -55px;
      position: absolute;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  .form-btn {
    color: #fff;
    @include ButtonDark($oth-link-col);
    width: 140px;
    padding: 0;
    height: 60px;
  }
}

.modal-thanks-content {
  text-align: center;
  p {
    color: #07485e;
    font-weight: 400;
  }
}

.phone-modal-btn {
  position: fixed;
  bottom: 60px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $oth-link-col;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease 0.15s;
  z-index: 20;
  @extend .fx-c;
  &:hover {
    box-shadow: 0 0 0 12px rgba($oth-link-col, 0.55), 0 0 0 24px rgba($oth-link-col, 0.35);
    transform: rotate(35deg);
  }
}

//-----------end modal window style-----------

//-----------start menu toggle button-----------

// bun animations
@import "toggle-btn";

//-----------end menu toggle button-----------

//+++++++++++++++++++++++++++++++start news page+++++++++++++++++++++++++++++++

//-----------start headTop-----------
.head-top-wrap {
  height: 160px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  @extend .fx-c;
  h2 {
    margin-bottom: 25px;
  }
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.des-breadcrumb {
  justify-content: center;
  a:hover {
    color: $link-col;
  }
  li {
    padding-left: 5px;
    padding-right: 5px;
    @extend .pos-r;
    &:last-child {
      &::after {
        display: none;
      }
    }
    &::after {
      content: "\21FE";
      margin-left: 8px;
    }
  }
}

//-----------end headTop-----------

//-----------start pagination-----------

.des-pagination {
  margin-top: 70px;
  li {
    padding-left: 5px;
    padding-right: 5px;
  }
  li.active {
    a {
      border: 1px solid $pink-col;
      color: $pink-col;
    }
  }
  a {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    @extend .fx-c;
    &:hover {
      color: $pink-col;
    }
  }
}

.des-pag-arrow {
  a {
    width: 70px;
    height: 30px;
    display: block;
    background-image: url(../images/slider-arrow.png);
  }
  &.right-arrow {
    a {
      background-position: 70px 30px;
      &:hover {
        background-position: 0 30px;
      }
    }
  }
  &.left-arrow {
    a {
      background-position: 0 0;
      &:hover {
        background-position: 70px 0;
      }
    }
  }
}

//-----------end pagination-----------

//++++++++++++end news page++++++++++++

//+++++++++++++++++++++++++++++++start about us page+++++++++++++++++++++++++++++++

//-----------start about us box -----------

.about-us-box-wrap {
  line-height: 30px;
  h2 {
    font-size: 30px;
    color: #07485e;
    margin-bottom: 45px;
  }
  p {
    font-size: 18px;
  }
  [class^="col"] {
    padding: 0;
  }
}

.about-us-box-des {
  padding: 40px;
}

.about-us-box-wrap-img {
  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}

.about-us-box-des {
  @include TextMask(460, 35, false)
}

//-----------end about us box -----------

//-----------start aromor box -----------

.armor-box-wrap {
  min-height: 265px;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 15px;
  padding-bottom: 15px;
  @extend .fx-c
}

.booking-tick {
  background: $oth-link-col;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 30px;
  &:hover {
    .booking-tick-txt {
      width: 170px;
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  &-txt {
    width: 0;
    overflow: hidden;
    display: inline-block;
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
    transition: all 0.3s ease-in-out;

  }
}

.circle-booking {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: lighten($oth-link-col, 10%);
  @extend .fx-c;
}

.w-lng-arrow {
  display: inline-block;
  margin-right: 200px;
  @extend .pos-r;
  &::after {
    content: "";
    top: 50%;
    right: -185px;
    width: 160px;
    height: 12px;
    background-image: url("../images/long-arrow.png");
    background-repeat: no-repeat;
    margin-top: -6px;
    @extend .pos-a;
  }
}

//-----------end armor box -----------

//++++++++++++end about page++++++++++++

//+++++++++++++++++++++++++++++++start gallery page+++++++++++++++++++++++++++++++

.gallery-box {
  margin: 0;
  padding: 0;
  overflow: hidden;
  @extend .pos-r;
  &:hover {
    figcaption {
      top: 10px;
    }
  }
  img {
    height: 260px;
    width: 100%;
    object-fit: cover;
  }
  figcaption {
    background-color: rgba(81, 127, 142, .9);
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    top: 100%;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @extend .transition;
    h4 {
      margin-bottom: 15px;
    }
    @at-root .gallery-box-date {
      display: inline-block;
      margin-bottom: 25px;
    }
    @at-root .gallery-box-lnk-btn {
      height: 50px;
      width: 135px;
      border: 1px solid $oth-link-col;
      border-radius: 30px;
      @extend .fx-c, .transition;
      &:hover {
        background: $oth-link-col;
      }
    }
  }
}

//++++++++++++end gallery page++++++++++++

//+++++++++++++++++++++++++++++++start news inside page+++++++++++++++++++++++++++++++
.news-inside-img {
  margin-bottom: 55px;
  img {
    width: 100%;
    height: 340px;
    object-fit: cover;
  }
}

.news-inside-desc {
  min-height: 450px;
  padding-bottom: 20px;
  p {
    font-size: 18px;
    line-height: 34px;
  }
}

.news-inside-sidebar-ttl {
  color: #07485e;
  margin-bottom: 30px;
}

.news-box-inside-sidebar {
  display: flex;
  margin: -20px -10px;
  align-items: center;
  @at-root .news-box-inside-sidebar-img {
    flex: 0 0 130px;
    img {
      height: 120px;
      width: 100%;
      object-fit: cover;
    }
  }
  > div {
    padding: 20px 10px;
  }
}

.news-box-inside-sidebar-desc {
  flex-direction: column;
  max-height: 120px;
  overflow: hidden;
  @extend .fx-c;
  a {
    color: $link-col;
  }
  @at-root &-date {
    color: #b3b3b3;
    font-size: 14px;
  }
}

//++++++++++++end news inside page++++++++++++

//+++++++++++++++++++++++++++++++start gallery inside page+++++++++++++++++++++++++++++++
.gallery-inside-head-ttl {
  font-size: 30px;
  color: #07485e;
  margin-bottom: 10px;
}

.gallery-inside-wrap {
  margin-bottom: 50px;
}

.gallery-inside-desc {
  p {
    line-height: 34px;
  }
}

.gallery-inside-head {
  margin-bottom: 40px;
}

.gallery-inside-head-date {
  color: #b3b3b3;
  font-size: 14px;
}

.gallery-album-min-slider {
  margin-top: -15px;
  margin-bottom: -15px;
  img {
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    max-height: 140px;
    min-height: 140px;
    width: 100%;
    object-fit: cover;
  }
}

.gallery-album-full-slider {
  a {
    display: block;
    width: 100%;
    min-height: 100%;
    height: 100%;
    @extend .fx-c;
  }
  img {
    width: 100%;
    height: 700px;
    object-fit: cover;
  }
}

.gal-arrow {
  transform: rotate(90deg);
  bottom: 0;
  top: auto
}

.full-slide-arrows {
  height: 50px;
  width: 20px;
  bottom: -100px;
  background: url(../images/full-slider-arrow-icon.png) no-repeat;
  @extend .transition, .pos-a;
  &.prev3 {
    background-position: 0 0;
    left: calc(50% - 20px);
    &:hover {
      background-position: 0 -50px;
    }
  }
  &.next3 {
    background-position: -20px -50px;
    left: calc(50% + 20px);
    &:hover {
      background-position: -20px 0;
    }
  }
}

.prev-link-galler-inside {
  color: #00b6f4;
}

.gallery-slider-wrap {
  padding-bottom: 70px;
}

//++++++++++++gallery inside page++++++++++++

//+++++++++++++++++++++++++++++++start contact page+++++++++++++++++++++++++++++++
.contact-rkh-wrap {
  input {
    border: 1px solid #e9eff3;
    display: inline-block;
    height: 52px;
    width: 100%;
    padding-left: 20px;
  }
  textarea {
    padding-left: 20px;
    border: 1px solid #e9eff3;
    width: 100%;
    display: inline-block;
    height: 200px;
    padding-top: 20px;
  }
}

.heading .f-reg {
  font-weight: 400;
}

.contact-frm-btn {
  width: 140px;
  height: 63px;
  background: $oth-link-col;
  color: #fff;
}

.contact-data {
  font-size: 20px;
  max-width: 450px;
  margin-top: 30px;
  line-height: 30px;
  span {
    display: block;
  }
  a {
    color: $link-col;
    text-decoration: underline;
  }
  @at-root &-img {
    margin-right: 25px;
    flex: 0 0 40px;
  }
}

.contact-data-box {
  & + & {
    margin-top: 30px;
  }
}

//++++++++++++end contact page++++++++++++

//+++++++++++++++++++++++++++++++start index FAQ page+++++++++++++++++++++++++++++++

.faq-cat-lst {
  a {
    padding: 25px 20px 25px 30px;
    font-size: 20px;
    display: block;
    color: #fff;
  }
  li {
    background: $link-col;
    @extend .transition;
    &:not(:last-child){
      border-bottom: 1px solid #66d3f8;
    }
    &:hover {
      border-bottom: 1px solid transparent;
      background: #fff;
      a {
        color: $link-col;
      }
    }
  }
}

.faq-ques-txt {
  display: none;
  padding: 50px 20px;
}

.faq-collapse-btn {
  color: $link-col;
  font-size: 20px;
  cursor: pointer;
  padding: 20px 25px;
  border-bottom: 1px solid #e9eff3;
  @extend .pos-r;
  &::before {
    content: '';
    height: 1px;
    width: 0;
    left: 0;
    bottom: 0;
    background: $link-col;
    @extend .pos-a, .transition;
  }
  &.collapsed {
    .faq-arrow {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    &::before {
      width: 100%;
    }
  }
  img {
    margin-right: 10px;
  }
}

.faq-arrow {
  right: 0;
  @extend .pos-a, .transition;
}
//++++++++++++end index FAQ page++++++++++++

//+++++++++++++++++++++++++++++++start index client page+++++++++++++++++++++++++++++++
.rkh-advan-con {
  background: #f4f9fb;
}

.rkh-advan-box {
  background: #fff;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: column;
  text-align: center;
  height: 230px;
  @extend .fx-c;
  img {
    margin-bottom: 30px;
  }
}

.our-client-slider {
  a {
    img {
      margin: 0 auto;
    }
  }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
//++++++++++++end index clientpage++++++++++++

@import "media";